/*
per creare tipo una variabile in HTML basta definire id come il nome della var. es: <div id:"esempio">

conseguentemente scrivere in CSS

#esempio{

    funzione-esempio: 10

}
invece, per i paragrafi(p) basta definire la classe es.<p class="esempio">

in CSS:
.esempio{

    funzione-esempio: 10 

}


*/
body {
    background-color: #cccccc
	
}
@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('HelveticaNeueUltraLight.eot');  
  src: local('HelveticaNeueUltraLight.otf'),                 
        url('HelveticaNeueUltraLight.ttf') format('truetype'), 
        url('HelveticaNeueUltraLight.svg#font') format('svg'); 
}

}
p {
font-size: 3em
}
h4,h3,h5,h2 {
font-size: 2em
}
a {
font-size:2em
}
p,h2,h3,h4,h5,h6,a {
font-family: 'HelveticaNeueUltraLight', serif;
}
#intestazionebenvenuti{
    
    text-align: center
}
.colorerosso{
    
    color: darkcyan
    
}
.contattaci{
    
    text-align: center

}
.aligndelfooter{
    
    text-align: center
    
}
.scienzetek, .medicina, .socistruzione{
    
    color: darkcyan
    
}